- name: Deploy to Production Server
  uses: appleboy/ssh-action@v1.0.3
  with:
    host: ${{ secrets.SERVER_HOST }}
    username: ${{ secrets.SERVER_USER }}
    key: ${{ secrets.SSH_PRIVATE_KEY }}
    script: |
      echo "SSH CONNECTED"
      whoami
      pwd
      ls
      cd kalbii-frontend-master
      git pull origin main
      docker-compose up -d --build
